#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                id: 1,
                spritesheet_png_path: "./spritesheet.png",
                sprite_positions: (
                    spritesheet_width: 103,
                    spritesheet_height: 137,
                    sprites: [
                        // Turn
                        (
                            name: "turn_0",
                            x: 38,
                            y: 94,
                            width: 26,
                            height: 43
                        ),
                        (
                            name: "turn_1",
                            x: 58,
                            y: 0,
                            width: 23,
                            height: 46
                        ),
                        (
                            name: "turn_2",
                            x: 0,
                            y: 47,
                            width: 21,
                            height: 46
                        ),
                        (
                            name: "turn_3",
                            x: 0,
                            y: 0,
                            width: 24,
                            height: 46
                        ),
                        (
                            name: "turn_4",
                            x: 82,
                            y: 47,
                            width: 20,
                            height: 46
                        ),
                        (
                            name: "turn_5",
                            x: 82,
                            y: 0,
                            width: 21,
                            height: 46
                        ),
                        (
                            name: "turn_6",
                            x: 53,
                            y: 47,
                            width: 26,
                            height: 43
                        ),

                        // Run
                        (
                            name: "run_0",
                            x: 25,
                            y: 0,
                            width: 32,
                            height: 44
                        ),
                        (
                            name: "run_1",
                            x: 22,
                            y: 47,
                            width: 30,
                            height: 43
                        ),
                        (
                            name: "run_2",
                            x: 0,
                            y: 94,
                            width: 37,
                            height: 43
                        ),
                        (
                            name: "run_3",
                            x: 65,
                            y: 94,
                            width: 38,
                            height: 42
                        ),

                    ],
                ),
                animations: [
                    SpriteIndex(
                        id: 1,
                        frames: ["turn_0", "turn_1", "turn_2", "turn_3", "turn_4", "turn_5", "turn_6"],
                    ),
                     SpriteIndex(
                        id: 2,
                        frames: ["run_3", "run_2", "run_1", "run_0"],
                    ),
                    Transform(
                        id: 3,
                        animation_prefab: (
                            // each sampler consist of:
                            //   * target entity (which is an index in this prefab),
                            //   * animation channel, here the attribute on Transform
                            //   * interpolation data and function
                            samplers: [(0, Translation, (
                                input: [0., 1., 2., 3., 4.],
                                output: [
                                    Vec3((0., 0., 0.)),
                                    Vec3((20., 0., 0.)),
                                    Vec3((0., 0., 0.)),
                                    Vec3((-20., 0., 0.)),
                                    Vec3((0., 0., 0.)),
                                ],
                                function: Linear,
                            ))],
                    )),
                ],
            ),
        ),
    ],
)